@media only screen and (max-width : 400px) {
	html {
		--normal: 18px !important;
	}
	div.container {
		padding: 0 !important;
	}
	header {
		font-size: 14px !important;
	}
	main {
		padding: 1.5em !important;
	}
	div.list-container {
		width: 100% !important;
	}
}

@media only screen 
and (min-width : 400px)
and (max-width : 600px) {
	div.container {
		padding: 0 !important;
	}
	header {
		font-size: 18px !important;
	}
	main {
		padding: 1.5em !important;
	}
	div.list-container {
		width: 100% !important;
	}
}

@media only screen 
and (min-width : 600px)
and (max-width : 900px) {
	div.container {
		padding: 2em !important;
	}
	header {
		font-size: 26px !important;
	}
	main {
		padding: 1.5em !important;
	}
	div.list-container {
		width: 75% !important;
	}
}